@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 300;
  font-style: normal;
}

body {
  /* width: 100vw; */
  height: 80vh;
  background: #f8c291;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  color: #fff;
  text-align: center;
}
button {
  background-color: #6ab04c;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}

button:hover {
  background: #badc58;
}
h3 {
  font-size: 30px;
}

span {
  font-weight: bold;
}
